{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}
{% block content %}
    
        <div class="container">
            <div class="cards">
                {% for post in object_list %}
                <div class="card-item">
                    {% if post.image %}
                    <div class="card-image">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    {% endif %}
                    <span class="card-title">
                        <h1>{{ post.title }}</h1>
                    </span> 
                    <span class="text-muted">by {{ post.author }} | {{ post.date }}</span>
                    <div class="card-description">
                        {{ post.summary }}
                    </div>
                    <span class='read-more'>
                        <form action="{% url 'post_detail' pk=post.id %}" method='get'>
                            <input type="hidden" name='post-id' value='{{ post.id }}'>
                            <button type="submit" class='btn btn-sm btn-primary'>Read More</button>
                        </form>
                    </span>
                    <div class="views">
                        {{ post.total_views }} <i class="fas fa-eye"></i>
                    </div>
                </div><br><br><br>
                {% endfor %}
            </div>
        </div>
    
{% endblock content %}